#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew install openssl fzf

{{ else if eq .chezmoi.os "linux" }}

sudo apt-get update
sudo apt-get install -y build-essential libssl-dev libreadline-dev zlib1g-dev cmake pkg-config

{{ else if eq .chezmoi.os "windows" }}

{{ end }}
